body {
    font-family: 'CircularStd', sans-serif;
    font-size: .9375rem;
    color: #1f1f1f;
    background-color: #f7f7f7;
    min-height: 100%;
    overflow-x: hidden;
}
.top-nav{
    text-align: center;
}
.account-box {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 36px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    margin: 0 auto;
    overflow: hidden;
    width: 480px;
    padding: 30px;
}
.account-box label {
    color: #1f1f1f;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    font-weight: bold;
}
.account-box .form-control {
    background-color: #fbfbfb;
    border: 1px solid #0253cc;
    border-radius: 4px;
    height: 46px;
    width: 100%;
}
input#user_password {
    font-size: 27pt;
}
input#user_email {
    font-size: 17pt;
}
.account-box .account-btn {
    background: #00c5fb;
    background: -moz-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
    background: -webkit-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
    background: -ms-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
    background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
    border: 0;
    border-radius: 36px;
    display: block;
    font-size: 22px;
    padding: 10px 26px;
    width: 100%;
}
.col {
    margin-bottom: 10px;
}
.field {
    margin-bottom: 10px;
}
.account-subtitle {
    color: #4c4c4c;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}
.account-box .form-group {
    margin-bottom: 25px;
}
.account-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}
.account-footer {
    text-align: center;
}
.account-box table{
    width: 90%;
    border-collapse: collapse;
}
.account-box td{
    height: 40px;
    width: 25%;
    border: solid 1px;
}
.account-box th{
    height: 40px;
    width: 25%;
    border: solid 1px;
}