<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css" th:href="@{/home.css}">
    <style>
        body{
            margin: unset;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top-nav1" style="background-color: coral; height: 80px; width:100%">
            <div class="top-nav-left"style="float: left">
                <div class="logo" >
                    <h1>Todo App</h1>
                </div>
            </div>
            <div class="top-nav-right" style="float: right">
                <div class="logo">
                    <h1>Login</h1>
                </div>
            </div>
        </div>
        <div class="top-nav">
            <h1>Welcome my web</h1>
            <div class="account-logo">
                <a href="">
                    <img class="logo_image" src="../static/testlogo.png" th:src="@{/testlogo.png}" width="100" height="100">
                </a>
            </div>
        </div>
        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title">Todo List By Toenahi</h3>
                <p class="account-subtitle">Create New List</p>
                <p id="notice"></p>

                <!-- Account Form -->
                <form class="new_user" id="new_user" th:action="@{/add_list}" method="post" th:object="${todoList}">
                    <input
                            type="hidden" name="authenticity_token"
                            value="pkjdlrItBZibhjmvLLyNama7tfDsuc_KZBHICb3t9DQiqTrmcDP1mGXpO--bfShD6E5luOhQ2bfIvK-N_QsHvA">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label >Name</label>
                            </div>
                        </div>
                        <input  class="form-control" th:field="*{todo_name}" required/>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label >Note</label>
                            </div>
                        </div>
                        <input autocomplete="current-password" class="form-control" th:field="*{note}">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label >Date</label>
                            </div>
                        </div>
                        <input class="form-control" th:field="*{duetime}" required/>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label >Id</label>
                            </div>
                        </div>
                        <input class="form-control" th:field="*{account_id}" required/>
                    </div>

                    <br>
                    <div class="form-group text-center">
                        <input type="submit" name="commit" value="Add" class="btn btn-primary account-btn"
                               data-disable-with="Log in">
                    </div>
                    <div class="account-footer">
                        <p><a href="todolist.html" th:href="@{/todolist}">Back</a><br></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>