<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css" th:href="@{/home.css}">
    <style>
        body{
            margin: unset;
        }
    </style>
</head>
<body>

<div class="account-content">

    <div class="container">
        <div class="top-nav1" style="background-color: coral; height: 80px; width:100%">
            <div class="top-nav-left"style="float: left">
                <div class="logo" >
                    <h1>Todo App</h1>
                </div>
            </div>
            <div class="top-nav-right" style="float: right">
                <div class="logo">
                    <h1>Login</h1>
                </div>
            </div>
        </div>
        <div class="top-nav">
            <h1>Welcome my web</h1>
            <div class="account-logo">
                <a href="">
                    <img class="logo_image" src="../static/testlogo.png" th:src="@{/testlogo.png}" width="100" height="100">
                </a>
            </div>
        </div>
        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title">Todo List</h3>
                <p class="account-subtitle">Login</p>
                <p id="notice"></p>

                <!-- Account Form -->
                <form class="new_user" id="new_user" th:action="@{/process_login}" method="post" th:object="${account}">
                    <input
                        type="hidden" name="authenticity_token"
                        value="pkjdlrItBZibhjmvLLyNama7tfDsuc_KZBHICb3t9DQiqTrmcDP1mGXpO--bfShD6E5luOhQ2bfIvK-N_QsHvA"
                    >

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <labe for="user_password">Email</labe>
                            </div>
                        </div>
                        <input class="form-control" type="email" th:field="*{email}" required/>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label >Password</label>
                            </div>
                        </div>
                        <input  autocomplete="current-password" class="form-control" type="password" th:field="*{password}">
                    </div>
                    <div class="field">
                        <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1"
                                                                                       name="user[remember_me]"
                                                                                       id="user_remember_me">
                        <label for="user_remember_me">Remember me</label>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" name="commit" value="Log in" class="btn btn-primary account-btn"
                               data-disable-with="Log in">
                    </div>
                    <div class="account-footer">
                        <p>Don't have an account yet? <a href="signup.html" th:href="@{/signup}">Sign up</a><br></p>
                    </div>
                    <center><a href="/users/password/new">Forgot your password?</a></center>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>