<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css" th:href="@{/home.css}">
    <style>
        body{
            margin: unset;
        }
    </style>
</head>
<body>

<div class="account-content">

    <div class="container">
        <div class="top-nav1" style="background-color: coral; height: 80px; width:100%">
            <div class="top-nav-left"style="float: left">
                <div class="logo" >
                    <h1>Todo App</h1>
                </div>
            </div>
            <div class="top-nav-right" style="float: right">
                <div class="logo">
                    <h1>Login</h1>
                </div>
            </div>
        </div>
        <div class="top-nav">
            <h1>Welcome my web</h1>
            <div class="account-logo">
                <a href="">
                    <img class="logo_image" src="../static/testlogo.png" th:src="@{/testlogo.png}" width="100" height="100">
                </a>
            </div>
        </div>
        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title" th:each="account:${account}">Hello </h3>

                <p class="account-subtitle">Login</p>
                <p id="notice"></p>

                <!-- Account Form -->
                <form class="new_user" id="new_user" action="login" accept-charset="UTF-8" method="post"><input
                        type="hidden" name="authenticity_token"
                        value="pkjdlrItBZibhjmvLLyNama7tfDsuc_KZBHICb3t9DQiqTrmcDP1mGXpO--bfShD6E5luOhQ2bfIvK-N_QsHvA">
                    <h3 th:text="${loginResult}" style="text-align: center"> </h3>
                    <p style="text-align: center"><a style="text-align: center; font-size: 20pt" href="home.html" th:href="@{/home}">Log in</a><br></p>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>