<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css" th:href="@{/home.css}">
    <style>
        body{
            margin: unset;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top-nav1" style="background-color: coral; height: 80px; width:100%">
            <div class="top-nav-left"style="float: left">
                <div class="logo" >
                    <h1>Todo App</h1>
                </div>
            </div>
            <div class="top-nav-right" style="float: right">
                <div class="logo">
                    <h1>Login</h1>
                </div>
            </div>
        </div>
        <div class="top-nav">
            <h1>Welcome my web</h1>
            <div class="account-logo">
                <a href="">
                    <img class="logo_image" src="../static/testlogo.png" th:src="@{/testlogo.png}" width="100" height="100">
                </a>
            </div>
        </div>

        <div class="account-box">
            <h3 class="account-title">Welcome</h3>
            <p class="account-subtitle">Your List</p>
            <p class="account-subtitle"><a href="todolist.html" th:href="@{/todolist}">Click here to show your list !</a><br></p>
            <div class="account-wrapper">

                <div>
                    <table th:object="${todoList}" id="listtable" style="border-collapse: collapse;">
                        <tr >
                            <th style="height: 40px;width: 25%;border: solid 1px;">Name</th>
                            <th style="height: 40px;width: 45%;border: solid 1px;">Note</th>
                            <th style="height: 40px;width: 10%;border: solid 1px;">Date</th>
                            <th style="height: 40px;width: 8%;border: solid 1px;">Id</th>
                            <th style="height: 40px;width: 12%;border: solid 1px;">Acction</th>
                        </tr>
                        <tr th:each=" todoList: ${Lists}">
                            <td th:text="${todoList.todo_name}" style="height: 40px;width: 25%;border: solid 1px;"></td>
                            <td th:text="${todoList.note}" style="height: 40px;width: 45%;border: solid 1px;"></td>
                            <td th:text="${todoList.duetime}" style="height: 40px;width: 10%;border: solid 1px;text-align: center;"></td>
                            <td th:text="${todoList.account_id}" style="height: 40px;width: 8%;border: solid 1px;text-align: center;"></td>
                            <td  style="height: 40px;width: 12%;border: solid 1px;">
                                <a th:href="@{'/getList/' +${todoList.id}}">edit</a><br>
                                <a th:href="@{'/deleteList/' +${todoList.id}}">delete</a><br>
                            </td>
                        </tr>
                    </table>
                </div>
                <p id="notice"></p>
                <p><a href="addtodolist.html" th:href="@{/addtodolist}">Add</a><br></p>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $("#listtable").dataTable();
</script>
</body>
</html>